
/***** * * * * * ***** * * * * * TAG-SECLECTORS * * * * * ***** * * * * * *****/

/*** H1 ***/
@media (min-width: 980px) and (max-width: 980px) {
  h1{
    font-size: 60px;
    padding: 0 100px 0 100px;
  }
}

@media (min-width: 980px) and (max-width: 980px) {
  h3{
    font-size: 50px;
    padding: 0 100px 0 100px;
  }
}

@media (min-width: 980px) and (max-width: 980px) {
  h4{
    font-size: 50px;
    padding: 0 100px 0 100px;
  }
}

/***** * * * * * ***** * * * * * CLASS-SECLECTORS * * * * * ***** * * * * * *****/

/***** ***** HEADER-SECTION ***** *****/

/*** HEADER CONTAINERS ***/
@media (min-width: 980px) and (max-width: 980px) {
  .header-div-item-00{
    padding-bottom: 50px;
  }
}

/*** HEADER IMAGE ***/
@media (min-width: 980px) and (max-width: 980px) {
  .flowers{
    position: static;
    height: 100%;
    margin-bottom: 30px;
  }
}

/***** ***** FEATURES-SECTION ****** *****/
@media (min-width: 980px) and (max-width: 980px) {
  .features-div-item-01{
    padding: 50px 100px 5px 100px;
    height: 300px;
    font-size: 20px;
  }
}

/***** ***** TESTIMONIALS-SECTION ****** *****/
@media (min-width: 980px) and (max-width: 980px)  {
  .Testimonals-carousel00{
    padding: 150px 0 100px 0;
  }
}

@media (min-width: 980px) and (max-width: 980px){
  .carousel-item{
  height: 780px;
  }
}

/*** TESTIMONIALS IMAGE ***/
@media (min-width: 980px) and (max-width: 980px) {
  .coffe00{
    height: 600px;
    width: 750px;
  }
}

@media (min-width: 980px) and (max-width: 980px) {
  .coffee01{
    height: 600px;
  }
}

@media (min-width: 980px) and (max-width: 980px){
  .coffee02{
    height: 600px;
    width: 750px;
  }
}

/***** ***** PRESS-SECTION ****** *****/

/*** PRESS-IMG ***/
@media (min-width: 980px) and (max-width: 980px){
  .press-img{
    height: 200px;
    padding: 10px 20px 10px 20px;
  }
}

/***** ***** COFFETYPES-SECTION ****** *****/

/*** COFFE-TYPE TEXT ***/
@media (min-width: 980px) and (max-width: 980px){
.coffe-type-text{
    font-size: 40px;}
}

/*** COFFETYPES-IMG ***/
@media (min-width: 980px) and (max-width: 980px){
  .coffe-types-img{
    height: 600px;
  }
}

/***** ***** PRICING-SECTION ****** *****/

/*** CARD LAYOUT ***/
@media (min-width: 980px) and (max-width: 980px){
  .pricing-div-item00{
    padding: 100px 50px 100px 50px;
    width: 100%;
  }
}

@media (min-width: 980px) and (max-width: 980px){
  .card-text-01{
    padding: 20px 0 20px 0;
    margin:  0 5px 0 5px;
    height: 200px;
  }
}

@media (min-width: 980px) and (max-width: 980px){
  .card-text-02{
    padding: 20px 0 20px 0;
    margin:  0 5px 0 5px;
    height: 600px;
    font-size: 40px;
  }
}

@media (min-width: 980px) and (max-width: 980px){
  .card-text-03{
    padding: 20px 50px 20px 50px;
    margin:  0 5px 100px 5px;
    height: 200px;
  }
}

/*** PRICING BUTTON ***/
@media (min-width: 980px) and (max-width: 980px){
.button-text{
  font-size: 50px;}
}

/***** ***** FOOTER-SECTION ****** *****/
@media (min-width: 980px) and (max-width: 980px){
  .footer-div-item-00{
    padding: 60px 0 20px 0;
    background-color: #f0ddcf;;
    font-size: 30px;
  }
}
